

.form-group{
    /* border: 2px solid red; */
    width: 600px;
    margin: auto;
    margin-top: 40px;
    padding: 5px;
    text-align: center;
}

.label{
    /* border: 2px solid green; */
    width: 200px;
}


.form-group input{
    width: 65%;
    /* border: 2px solid blue; */

}

.btn-submit{
    border: 1px solid rgb(238, 183, 3);
    text-decoration: none;
    color: rgb(7, 7, 71);
    padding: 5px 12px;
}

.btn-submit:hover{
    background-color:rgb(7, 7, 71) ;
    color: white;
}